body {
    padding-top: 50px;
}

ul{
    list-style: none;
}

ul li:hover{
    cursor: pointer;
}

#keywordsWrapper .kw{
    margin-bottom: 25px;
}

#documentsWrapper ul.kws li{
    float: left;
    margin-right: 10px;
}

#documentsWrapper .doc{
    margin-bottom: 20px;
}